<div class="tb">
    <table class="table table-striped table table-sm table-bordered caption-top">
        <caption>
          <strong>Lista de alunos</strong>
          <div class="text-end">
            <button type="button" class="btn btn-success btn-sm" routerLinkActive="active" [routerLink]="['../create']"><span><i-bs name="plus"></i-bs></span>Novo</button>
          </div>
        </caption>
        <thead class="table-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Telefone</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let aluno of alunos">
            <th scope="row">{{aluno.id}}</th>
            <td>{{aluno.nome}}</td>
            <td>{{aluno.telefone}}</td>
            <td>
              <a routerLinkActive="active" [routerLink]="['../status', aluno.id]" style="margin-right: 10px;">
                <i-bs name="calculator" style="font-size: 1rem; color: black;" tooltip="Editar" placement="top"></i-bs>
              </a>
              <a routerLinkActive="active" [routerLink]="['../edit', aluno.id]" style="margin-right: 10px;">
                <i-bs name="pencil" style="font-size: 1rem; color: black;" tooltip="Editar" placement="top"></i-bs>
              </a>
              <a href="javascript:void(0)" (click)="deleteAluno($event, aluno.id)">
                <i-bs name="trash" style="font-size: 1rem; color: black;" tooltip="Editar" placement="top"></i-bs>
              </a>
            </td>
          </tr>
        </tbody>
    </table>
    <p *ngIf="alunos.length==0">Nenhum aluno cadastrado.</p>
</div>
