<div class="tb">
    <table class="table table-striped table table-sm table-bordered caption-top">
        <caption>Lista de alunos</caption>
        <thead class="table-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Telefone</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>
              <a routerLinkActive="active" [routerLink]="['../status']" style="margin-right: 10px;">
                <i-bs name="calculator" style="font-size: 1rem; color: black;" tooltip="Editar" placement="top"></i-bs>
              </a>
              <a routerLinkActive="active" [routerLink]="['../edit']" style="margin-right: 10px;">
                <i-bs name="pencil" style="font-size: 1rem; color: black;" tooltip="Editar" placement="top"></i-bs>
              </a>
              <a href="javascript:void(0)">
                <i-bs name="trash" style="font-size: 1rem; color: black;" tooltip="Editar" placement="top"></i-bs>
              </a>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry the Bird</td>
            <td></td>
            <td>@twitter</td>
          </tr>
        </tbody>
    </table>
</div>
