<div class="login">
  <div class="app-body">
    <main class="main d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-5 mx-auto">
            <div class="card-group">
              <div class="card p-4">
                <div class="card-body">
                  <form id="formularioLogin">
                    <h1>
                      Login
                    </h1>
                    <div class="input-group mb-3">
                      <input type="text" formControlName="login" class="form-control" placeholder="Login">
                    </div>
                    <div class="input-group mb-4">
                      <input type="password" formControlName="senha" class="form-control" placeholder="Senha">
                    </div>
                    <div class="row">
                      <div class="col-6">
                        <button class="btn btn-primary px-4">Entrar</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
